@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #f9fafb;
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  min-height: 100vh;
}
